body{
    background: rgba(219, 64, 3, 0.856);
    border: 0px;

}
img{height:300px;
    width: 500px;
    padding-top: 200px;
    display: flexbox;
    float: left;
    padding-right: 100px;
    padding-bottom: 80px;
}

h1{
    font-size: 60px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:30px;
    margin-left: 500px;
    margin-bottom: 5px;
   margin: 50px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:60px;
    font-style: italic;
    font-size: 35px;
}
p{
    font-size: 25px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:60px;
    font-style: italic;
    font-size: 35px;
}
 h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:60px;
    font-style: italic;
    font-size: 35px;    
 }
 
 #img1{
    padding-top: 50px;
    padding-bottom: 200px;
    padding-right: 100px;
    padding-left: 500px;
 }
 #p{
    padding-left: 1px;
    padding-top: 100px;
 }